.hero{
    background-color: #1F2937;
    
}
h2{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;
}
#subtext, a{
font-size: 18px;
color: #E5E7EB;
}
button{
   background-color: #3882F6; 
   border-radius: 12px;
}
header{
    display: flex;
    justify-content: space-evenly;
    color: #F9FAF8;
    font-size: 24px;
}
.links{
    display: flex;
    gap: 20px;
}
.hero-content{
    width: 300px;
    justify-content: center;
    margin: 30px;
}
.main_img{
    display: flex;
    justify-content: flex-end;
    align-self: center;
}
