.icons{
    display: flex;
    justify-content: space-evenly;
}
.hero{
    background-color: #1F2937;
    
}
body{
    list-style: none;
}
h2{
    
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;
    margin: 0;
}
#subtext, a{
font-size: 18px;
color: #E5E7EB;
}
p{
    margin:0;
}
button{
   background-color: #3882F6; 
   border-radius: 12px;
   padding: 13px;
   margin-left: 15px;
}
header{
    display: flex;
    justify-content: space-evenly;
    color: #F9FAF8;
    font-size: 24px;
}
.links{
    display: flex;
    gap: 20px;
}
.hero-content{
    display: flex;
    flex-direction: column;
    width: 300px; 
    height: auto;
    justify-content: center;
    margin-left: 30px;
}
.subtext{
    padding-top: 0;
}

.main_img{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
#info{
    font-size: 36px;
    font-style: bold;
    color: #1F2937;
    text-align: center;
}

.info-box{
    display:flex;
    justify-content: center;
    align-items: space-evenly;
    gap: 50px;
}
  

#quote-portion{
    background-color: #E5E7EB;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    width: 100%
    
}
#quote-text{
    text-align: center;
    flex-basis: 100%;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    margin: 5%;
}